
.gradle/
/local.properties
#/.idea/workspace.xml
#/.idea/libraries
 .idea/

/.idea/
.DS_Store
/build/
/captures
app/build/
/IhaveuUtil.iml
/app/build/
/app/app.iml
/app/newihaveu_keystore.jks
/gradle.properties

